%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-row:before {
	content: "\e903";
 }
 ._icon-s-github:before {
	content: "\e904";
 }
 ._icon-shape:before {
	content: "\e905";
 }
 ._icon-s-Insta:before {
	content: "\e906";
 }
 ._icon-s-linkedin:before {
	content: "\e907";
 }
 ._icon-s-twiter:before {
	content: "\e908";
 }
