// Заголовки, загальні БЕМ блоки та інше...
.page {

   &__main {
   }
   &__servises {
   }
   &__portfolio {
   }
   &__career {
   }
   &__blog {
   }
}

//--------Title------/
.title {

   &__lable {
      text-transform: uppercase;
      font-weight: 500;
      font-size: rem(12);
      line-height: math.div(24, 12);
      letter-spacing: em(7.5, 12);
      color: $seriesColor;
      display: flex;
      align-items: center;
      gap: rem(16); 
         
      &::before{
         content: "";
          width: rem(16);
          height: rem(2);
          background-color: #D9D9D9;
        }
      &:not(:last-child){
         margin-bottom: em(9, 12);
       }
   }

   &__value {
      font-style:'Plus Jakarta Sans';
      font-weight: 700;
      line-height: math.div( 45, 36);
      @include adaptiveValue("font-size", 36, 28); 
      span {
         color: $purpleColor;
      }
      &_big {
          line-height: math.div(55, 44);
         @include adaptiveValue("font-size", 44, 36);
		}
   }
}

//--------Text------/
.text {
   line-height: math.div(32, 16);
   p{
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
 }
//--------------------Social-----------------------------/

.social {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   row-gap: rem(5); 
   @include adaptiveValue("column-gap", 32, 15);

   &__link {
      font-size: 1.375rem;
      @media (any-hover: hover){
         &:hover{
            color: $purpleColor;
         }  
      }
   }
}
//----------------Category-link-----------------------------------/

.category-link{
   display: inline-block;
   border: 1px solid #F1F1F1;
   border-radius: rem(4);
   font-size: rem(12);
   padding: rem(4) rem(8);
   line-height:  math.div(15, 12);
   
@media (any-hover: hover){
      &:hover{
         background-color: $purpleColor;
         border: rem(1) solid $purpleColor;
         color: #F1F1F1;
      }
   }
}
//----------------Date-----------------------------------/

.date {
}
