//====================================================================================================

.main-section {

   &__container {
      display: grid;
      min-height: 100%;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      padding-top: rem(80);
      padding-bottom: rem(30);
      column-gap: rem(20);
      @media (max-width:$mobile){
         grid-template-columns: 1fr;
         row-gap: rem(30);
         justify-content: center; 
      }
   }

   &__content {
          }

   &__title {
      &:not(:last-child) {margin-bottom: 32px;}
   }

   &__text {
      &:not(:last-child) {margin-bottom: 40px;}
   }
  
	&__decor {
     	}

   &__image {      
      }
   }

   .decor-main-section {
         max-width: 336px;
         margin: 0 rem(22); 
         justify-self: center;
         @media (min-width:$mobile){
            width: 100%;
            justify-self: end;   
         }
         @media (max-width:$mobile){
            max-width: none;
            @include adaptiveValue("width", 336, 246);
              
         }
   
      &__box {
         position: relative;
         padding-bottom: percent(400, 336);
         
         &::before,
         &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: rem(16);
         }
         &::before{
            z-index: 1;
            background-color: #7E74F1;
            transform: rotate(-9.55deg);
            }
         &::after{
            z-index: 2;
            background: #EAE6FE url("../img/main/lines.svg") top right / 58% no-repeat;
         }
      }
   
      &__image {
         position: absolute;
         width: 100%;
         height: 100%;top: 0;
         left: 0;
         border-radius: rem(16);
         overflow: hidden;     
      }
   
      &__picture { 
         z-index: 3;
         position: absolute;
         bottom: 0;
         left: 0;
         max-width: 100%;
       }
     }
   
 
//====================================================================================================

.servises {
   background-color: #FBFBFB;

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: rem(130);
      padding-bottom: rem(30);
   }

   &__title { 
      &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 110, 30);}
   }

   &__items {
      width: 100%;
      display: grid;
      @include adaptiveValue("gap", 56, 20);
      grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
   }

   &__item {
   }
}
// .title {

//    &__lable {
//       text-align: center;
//    }

//    &__value {
//    }
// }
.item-servise {
   background: #FFFFFF;
   border-radius: rem(8);
   display: grid;
   justify-items: center;
   text-align: center;
   @include adaptiveValue("padding", 56, 15);


   &__icon {
      width: rem(56);
      height: rem(56);
      display: flex;
      background-color:  #F5F3FE;
      border-radius: rem(16);
      align-items: center;
      justify-content: center;
      &:not(:last-child) {margin-bottom: rem(24);}
   }

   &__title {
      font-weight: 500;
      line-height: math.div(20, 16);
      &:not(:last-child){
         margin-bottom: rem(16);
      }
   }

   &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: math.div( 24, 14);
   }
}

//====================================================================================================

.portfolio {

   &__container { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: rem(80);
      padding-bottom: rem(30);
   }

   &__header {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      align-items: center;
      @include adaptiveValue("margin-bottom", 110, 30);
      @media (max-width: 650px){
         flex-direction: column;
         align-items: stretch;
      }
   }

   &__title {
   }

   &__controls {
      display: flex;
      gap: rem(16);
      align-items: center;
      justify-content: center;
      @media (max-width: 650px){
          justify-content: center;
      }
     }

   &__arrow {
      width: rem(40);
      height: rem(40);
      background-color: #EAE6FE;
      border-radius: 16px;
      color: #7E74F1;
      font-size: rem(12);
      transition: background-color 0.3s ease 0s;;
      @media (any-hover: hover){
         &:hover{
            background-color: #a59ee7;
         }
      }

      &_left {
         transform: rotate(-180deg);
      }

      &_right {
      }

      &__slider {
         @media (max-width: rem(650)) {
            margin-right: rem(-15);
            padding-right: rem(15);
         }         
		}

		&__wrapper {
		}

		&__slide {
		}
   }
}
   
.item-portfolio {
   background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
   border-radius: rem(8);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
  
		&__image-ibg {
         overflow: hidden;
         padding-bottom: percent(295, 361);
         transition: opacity 0.8s ease 0s;
          opacity: 0.5;
        img {
            object-position: top;
            transition: transform 0.8s ease 0s;
          }
       @media (any-hover: hover){
          &:hover{
             opacity: 1;
             img{
               transform: scale(1.05);
             }  
          }
        }
        @media (any-hover: none){
            opacity: 1;
            }
         }

		&__body {
        padding: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(16);
        flex: 1 1 auto;
       
		}
  
   	&__title {
        flex: 1 1 100%;
          }

		&__link-title {
         font-weight: 500;
         color:$mainColor;
         line-height:  math.div(20, 16);
         @media (any-hover: hover){
            &:hover{
               color: $purpleColor;
            }
         }
		}

      &__footer {
         display: flex;
         align-items: center;
         gap: rem(16);
          }

		&__category {
		}

		&__link {
         font-size: rem(9.5);
         text-align: center;
         @media (any-hover: hover){
            &:hover{
               color: $purpleColor;
		      }
         }
      }
   }

//====================================================================================================

.career {
   background-color: #FBFBFB;

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: rem(80);
      padding-bottom: rem(30);
   }
  	&__body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; 

      @include adaptiveValue("column-gap", 144, 20);
      @include adaptiveValue("row-gap", 80, 20);

      @media (min-width:$mobile){
         grid-template-columns: auto 1fr;
         grid-template-rows: auto 1fr;
         align-content: center;
         align-items: start;
         grid-auto-flow: column;
 	      }
      }
      
   &__title {
      
   }

   &__navigation {
      ._tab-spoller & {
         display: none;
      } 
   }

   &__content {        
      @media (min-width:$mobile){
         @include adaptiveValue("margin-top", 34, 15);
         grid-row: span 2;    
         }
      }
   }

.navigation-career {
     
    &__title {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: math.div(19, 16);
      padding: rem(14) rem(24);
      transition: all 0.3s ease 0s;
         &:not(:last-child){
         margin-bottom: rem(9);
       }
       &::after {font-size: rem(12);
         @extend %ic;
         content: "\e903";
         display: none;
      }

       ._tab-spoller & {
         border: 1px solid  #c6d6e0c2;
            &::after {
               display: block;
               transform: rotate(90deg);
            }
         }
      &._tab-active {   
         background-color: #fff;
         color: $purpleColor;
         &::after {
            display: block;
            ._tab-spoller & {
               transform: rotate(-90deg);
            }
         }      
      }
   }         
}
.content-career {

   &__body {
      ._tab-spoller & {
         padding: rem(15) rem(0) rem(20) rem(0);
      }
   }

   &__header {
        border-bottom: 1px solid #F1F1F1; 
      @include adaptiveValue("margin-bottom", 32, 20);
   }

   &__title {
      color: $mainColor;
      font-size: rem(18);
      &:not(:last-child){
         margin-bottom: rem(8);
      }
   }

   &__link-title {
      text-decoration: underline;
       @media (any-hover: hover){
         &:hover{
            text-decoration: none;
         }
      }   
   }

   &__location { 
      font-size: rem(14);
      color: $seriesColor;
      line-height: math.div(24, 14);
      &:not(:last-child){
      margin-bottom: rem(16);
      }
   }

   &__time { font-size: rem(14);
      color: $seriesColor;
      line-height: math.div(24, 14);
      &:not(:last-child){
      margin-bottom: rem(16);
      }
   }

   &__categories {
      display: flex;
      gap: rem(16);
   
      @include adaptiveValue("margin-bottom", 64, 20);
   }

   &__main {
   }

   &__list {
   }
}
.category-link {
}
.list-content-career {

   &__item {
      line-height: math.div(19, 16);
      color: $seriesColor;
      position: relative;
      padding-left: rem(28);
      &:not(:last-child){
      margin-bottom: rem(16);
      }
      &::before{
         content: "";
          width: rem(16);
          height: rem(2);
          background-color: #D9D9D9;
          position: absolute;
          left: 0;
          top: em(10, 16);
      }
   }
}

//====================================================================================================

.blog {

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: rem(130);
      padding-bottom: rem(30);
   }

   &__items {
    @include adaptiveValue("padding-top", 142, 20);
    @include adaptiveValue("padding-bottom", 190, 20);
   align-self: stretch;
   display: grid;
   @include adaptiveValue("gap", 40, 20);
   grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
   }

   &__item {
   }
}

.item-blog {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   border-width: 0px 1px 1px 1px;
   border-style: solid;
   border-color: #F1F1F1;
   border-radius: 0px 0px 8px 8px;
   &__image-ibg {
      overflow: hidden;
      padding-bottom: percent(243, 361);
      img {
         transition: transform 0.8s ease 0s;
       }
    @media (any-hover: hover){
       &:hover{
           img{
            transform: scale(1.05);
          }  
       }
     }
   }

   &__link-title {
      font-weight: 500;
      font-family: "Plus Jakarta Sans";
      line-height: math.div(24 , 16); 
      transition: color 0.3s ease 0s;
      &:hover{
         color: $purpleColor;
      }   
   }

   &__body {
      padding: rem(16);
      display: grid;
      gap: rem(16);
      flex: 1 1 auto;
   }

   &__date {
      font-weight: 500;
      font-size: rem(12);
      line-height: math.div(15, 12);
      color: $seriesColor;
      padding: rem(4) rem(8);
      display: inline-block;
      justify-self: start;
      background: #FBFBFB;
      border-radius: rem(4);
   }

   &__text {
      line-height: math.div(32, 16);
      color: $seriesColor;
     
   }

   &__category {
      margin-top: rem(24);
     justify-self: center;
   }
}

//====================================================================================================

.page {

   &__clients {
   }
}
.clients {

   &__container {
   }

   &__title {
   }

   &__items {
   }

   &__item {
   }
}
.title {

   &__lable {
   }

   &__value {
   }
}
.item-clients {

   &__image {
   }

   &__body {
   }

   &__text {
   }

   &__name {
   }

   &__link-name {
   }

   &__designer {
   }
}
.category-link {
}








